# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.txt text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.pp text eol=lf
*.json text eol=lf
*.php text eol=lf
*.md text eol=lf
*.rb text eol=lf
.* text eol=lf
Vagrantfile text eol=lf
